<h2>Shoe Orders</h2>

<% @shoes.each do |shoe| %>
<b><p><%= shoe.pretty_name() %></p></b>, <p><%= shoe.address() %></p><br>

<b>Order:</b>
<p><%= shoe.quantity %> x Size <%= shoe.size %>, <%= shoe.style %></p>
<hr>
<% end %>
